<div class="row">
  <div class="form-group col-md-8">
    <%= form_for [@user, @item] do |f| %>
    <h4><%= f.label :name, 'Todo' %></h4>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Press return to create an item' %>
    <%= f.submit 'Create item', class: 'btn btn-success' %>
  <% end %>
  </div>
</div>
